<form id="upload_form" action="operations/upload" method="post" multipart="true" enctype="multipart/form-data">
    <input type="file" name="upload_file" id="upload_file_name" required ><br>
    <input type="submit" class="btn btn-success" value="Upload File to Server">
</form>
<br />

<div id="upload_area" style="display:none;">
<p class="upload_text">Upload Progress ....</p>
 <div class="progress">
        <div class="bar"></div >
        <div class="percent">0%</div >
    </div>
    
    <div id="status"></div>
</div>
    

